.container {
  width: min(85%, 1120px);
  margin-inline: auto;
}

.hero-padding {
  padding: 7rem 0 3rem 0;
}

.section-padding {
  padding: 7rem 0;
}

.swiper-pagination-bullet-active-next,
.swiper-pagination-bullet-active-next-next {
  background-color: white;
}

/* change color of previous bullet to white*/

.swiper-pagination-bullet-active-prev {
  background-color: white;
}
