@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.hero-title {
  // 32 s.d 42 px
  font-size: clamp(2rem, 1.2188rem + 2.5vw, 2.625rem);
  font-weight: bolder;
}

.header-1 {
  // 24 s.d 27 px
  font-size: clamp(1.5rem, 1.2656rem + 0.75vw, 1.6875rem);
  font-weight: 700;
}

.header-2 {
  font-size: 19px;
  font-weight: 700;
}

.paragraph {
  font-size: 14px;
}

.margin {
  margin-bottom: 10px;
}
