@use '../base/colors' as colors;
@use '../abstract/mixin' as mixin;

// start hero styles
#hero {
  color: white;
  background-color: colors.$mainColor;
  text-align: center;
  .container {
    max-width: 50%;
    padding: 5rem 0;
    h1 {
      line-height: 1.5;
      span {
        color: colors.$ocean;
      }
    }
    p {
      padding: 2rem 0 4rem 0;
      line-height: 1.5;
    }
    .hero-btn {
      background-color: rgba(240, 240, 240, 0.2);
      @include mixin.flex();
      margin-inline: auto;
      gap: 20px;
      padding: 10px;
      width: 200px;
      border-radius: 20px;
      cursor: pointer;
      .feather-arrow-left {
        background-color: white;
        color: colors.$text-grey;
        padding: 5px 8px;
        border-radius: 8px;
      }
    }
  }
}
@media only screen and (max-width: 810px) {
  #hero {
    .container {
      max-width: 100%;
    }
  }
}
// end hero styles

// start about afq
#about-afq {
  text-align: center;
  border-bottom: solid 2px rgb(216, 216, 216);
  .title {
    h2 {
      margin-bottom: 2rem;
      span {
        color: colors.$ocean;
      }
    }
    p {
      max-width: 950px;
      margin-inline: auto;
    }
  }
  .content {
    @include mixin.flex(space-between, center);
    margin-top: 5rem;
    gap: 30px;
    .card {
      border-radius: 20px;
      padding: 1rem;
      height: 280px;
      display: flex;
      width: 300px;
      gap: 10px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      img {
        max-height: 100px;
      }
      p {
        color: colors.$text-grey;
      }
      h3 {
        padding: 0.3rem 0;
      }
    }
  }
}
@media only screen and (max-width: 760px) {
  .content {
    flex-direction: column;
  }
}
// end about afq

//  start what we do section
#what-we-do {
  text-align: center;
  .header-1 {
    margin-bottom: 5rem;
  }
  .content {
    @include mixin.flex(space-around);
    flex-wrap: wrap;
    gap: 1.5rem;
    .card {
      cursor: pointer;
      border-radius: 20px;
      padding: 1rem;
      height: 200px;
      display: flex;
      width: 230px;
      gap: 10px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      img {
        width: 30%;
      }
      h2 {
        padding: 0.8rem 0;
      }
    }
  }
}
@media (max-width: 760px) {
  #what-we-do {
    .content {
      .card {
        width: 280px;
      }
    }
  }
}
//  end what we do section

#achievement {
  background-color: colors.$mainColor;
  color: white;
  position: relative;
  .dashed-1 {
    position: absolute;
    bottom: -30px;
    left: 0;
  }
  .dashed-2 {
    position: absolute;
    top: -130px;
    left: 50px;
  }
  .dashed-3 {
    position: absolute;
    top: -50px;
    right: 220px;
  }
  .succlent {
    position: absolute;
    bottom: -40px;
    left: 300px;
  }
  .bell {
    position: absolute;
    top: -70px;
    right: 250px;
  }
  .achieve-main {
    @include mixin.flex(space-between);
    .title {
      @include mixin.flex();
      flex-direction: column;
      gap: 0.8rem;
      h1 {
        font-size: 3.5rem;
        font-weight: bolder;
      }
    }
  }
}

@media only screen and (max-width: 760px) {
  #achievement {
    .succlent {
      left: 250px;
    }
    .bell {
      right: 230px;
    }
    .dashed-2 {
      left: 200px;
    }
  }
  .achieve-main {
    flex-direction: column-reverse;
    gap: 5rem;
  }
}

#our-latest-news {
  h2 {
    margin-bottom: 2rem;
  }
  .title {
    text-align: center;
    p {
      margin-inline: auto;
      margin-bottom: 3rem;
      max-width: 500px;
      color: colors.$text-grey;
    }
  }
  .content {
    .read-more {
      @include mixin.flex(flex-end);
      padding: 20px 0;
      gap: 10px;
      cursor: pointer;
      span {
        color: colors.$mainColor;
        font-weight: bolder;
      }
    }
    .card-swiper {
      border-top-right-radius: 15px;
      border-top-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-bottom-left-radius: 15px;
      margin: 50px 0;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
      .container-image {
        height: 200px;
        overflow: hidden;
        img {
          width: 100%;
          border-top-right-radius: 15px;
          border-top-left-radius: 15px;
        }
      }
      .content-slider {
        margin: 20px 10px 10px 10px;
        h3 {
          margin-bottom: 10px;
          height: 2.5rem;
          width: 100%;
          overflow: hidden;
        }
        p {
          color: colors.$text-grey;
        }
        .date {
          color: colors.$text-grey;
          font-size: 14px;
          margin-bottom: 10px;
        }
      }
    }
  }
}
